body {
  background-color: black;
  color: white;
  font-family: Arial;
}

.album-cover {
  width: 30%;
}

.album-container {
  margin-bottom: 40px;
}

.all-tour-container {
  position: absolute;
  top: 80px;
  right: 24px;
  border-color: white;
  border-style: solid;
  padding: 0 15px 750px;
  border-radius: 10px;
}

.all-music-container {
  position: absolute;
  top: 80px;
  left: 24px;
  border-color: white;
  border-style: solid;
  background-color: white;
  color: black;
  padding: 0 15px 15px;
  border-radius: 10px;
}

.yeat-logo {
  margin-left: 16px;
}
